.padding-no{
    padding: unset;
}

.head-number{
    font-weight: bold; 
    font-size: 24px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: unset;
}
.box-style{
    padding: 10px;
    border-top: unset;
    background-color: #C3D7E0;
}
.order-card{
    background-color: #ffbc2c;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px 0px;
}
.order-head{
    color: white; 
    font-weight: bold; 
    margin-top: 10px;
}
.order-head-in{
    margin-top: unset;
    font-weight: bold;
}

.text{
    font-weight: bold;
    text-align: right;
}
.card{
    background-color: white;
    border-radius: 10px;
}
.image-check{
 position: absolute;   
 top: 10px;
 width: 40px;
}
.note-card{
    padding: 10px 20px;

}