<ion-content>
  <div class="row">
      <div class="col-lg-6">
        <div class="login-box">
          <div class="login-logo">
            <img src="assets/img/flogo.png" alt="" style="height: 8rem;margin-left: auto;margin-right: auto;">
          </div>
          <div class="login-box-body" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;width:100%;">
            <i class="fa fa-arrow-circle-left" (click)="back()" style="color: #ffbc2c;cursor: pointer; font-size: 15px; margin-right: 10px;"></i><label class="login-box-msg">Forgot Password</label>
              <!-- <p class="login-box-msg">Enter your Employee Code, Date of Birth and Mobile Number to create new password</p> -->
          
                <!-- <div class="form-group {{employeeCodeError}}">
                  <label>Employee Code</label>
                  <input type="text" class="form-control" [(ngModel)]="employeeCode" placeholder="Enter your Employee Code">
                </div> -->
                <div class="form-group {{dobError}}">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" [(ngModel)]="dob" placeholder="Enter you Date of Birth">
                </div>
                <div class="form-group {{mobileError}}">
                    <label>Mobile No.</label>
                    <input type="number" class="form-control" [(ngModel)]="mobile" placeholder="Enter you Mobile No.">
                  </div>
                  <div class="form-group {{new_passwordError}}">
                    <label>New Password</label>
                    <input type="password" class="form-control" [(ngModel)]="new_password" placeholder="Enter new password">
                  </div>
                  <div class="form-group {{confirm_passwordError}}">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" [(ngModel)]="confirm_password" placeholder="Enter confirm password">
                  </div>
                    <button type="submit" class="btn btn-warning btn-block btn-flat" (click)="create()">
                      <div>
                        Create New Password
                      </div>
                    </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hidden-xs hidden-md hidden-sm">
        <img src="assets/img/loginLayer.png" width="100%">
      </div>
    </div>
    
    
    <footer class="main-footer">
      <div class="row">
        <div class="col-lg-8 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-4">
          <div class="pull-right" style="font-size: 1.2em;">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span class="text-warning"> Help</span></div> 
            Powered By {{companyName}} 
        </div>
      </div>
      </footer>
  </ion-content>